<template>
  <div class="chat-body">
    <div
      v-for="(message, index) in getMessages"
      :key="index"
      style="display: flex; justify-content: flex-end"
    >
      <div v-if="message.type === 'human'" class="human-text">
        <span>{{ message.message }} </span>
      </div>
      <div v-else style="display: flex; width: 100%">
        <div style='height"30px;width:30px'>
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 512 512"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
          >
            <path
              style="fill: #2ba5f7"
              d="M256.002,90.32c-4.725,0-8.553-3.829-8.553-8.553V23.369c0-4.723,3.828-8.553,8.553-8.553
	c4.725,0,8.553,3.829,8.553,8.553v58.398C264.555,86.49,260.727,90.32,256.002,90.32z"
            />
            <rect
              x="191.825"
              y="208.645"
              style="fill: #e09b2d"
              width="128.351"
              height="34.782"
            />
            <path
              style="fill: #f95428"
              d="M364.126,81.047v136.721h-43.951H191.825h-43.951V81.047c0-15.977,12.955-28.932,28.932-28.932h79.2
	h79.189C351.182,52.116,364.126,65.071,364.126,81.047z"
            />
            <path
              style="fill: #e54728"
              d="M196.192,52.116h-19.387c-15.977,0-28.932,12.955-28.932,28.932v136.721h19.387V81.047
	C167.261,65.071,180.216,52.116,196.192,52.116z"
            />
            <g>
              <rect
                x="171.606"
                y="363.784"
                style="fill: #f7b239"
                width="33.413"
                height="121.303"
              />
              <rect
                x="306.992"
                y="363.784"
                style="fill: #f7b239"
                width="33.402"
                height="121.303"
              />
            </g>
            <path
              style="fill: #e09b2d"
              d="M306.992,364.924v42.103h33.402v-42.103H306.992z M171.606,407.027h33.413v-42.103h-33.413V407.027z"
            />
            <g>
              <rect
                x="348.799"
                y="264.091"
                style="fill: #f7b239"
                width="62.299"
                height="35.17"
              />
              <rect
                x="100.468"
                y="264.091"
                style="fill: #f7b239"
                width="63.166"
                height="35.17"
              />
              <path
                style="fill: #f7b239"
                d="M203.251,108.576c16.513,0,29.89,13.388,29.89,29.89c0,16.513-13.377,29.89-29.89,29.89
		c-16.501,0-29.878-13.377-29.878-29.89C173.373,121.964,186.75,108.576,203.251,108.576z"
              />
              <path
                style="fill: #f7b239"
                d="M308.749,108.576c16.501,0,29.89,13.388,29.89,29.89c0,16.513-13.388,29.89-29.89,29.89
		c-16.513,0-29.89-13.377-29.89-29.89C278.859,121.964,292.236,108.576,308.749,108.576z"
              />
            </g>
            <g>
              <polygon
                style="fill: #f95428"
                points="224.36,471.562 224.36,512 152.265,512 152.265,471.562 171.606,471.562 205.019,471.562 	
		"
              />
              <polygon
                style="fill: #f95428"
                points="359.735,471.562 359.735,512 287.651,512 287.651,471.562 306.992,471.562 340.394,471.562 
			"
              />
              <path
                style="fill: #f95428"
                d="M416.253,269.611v140.416h-31.885V299.261v-35.17v-26.366l0,0
		C401.978,237.725,416.253,252.001,416.253,269.611z"
              />
              <path
                style="fill: #f95428"
                d="M127.632,299.261v110.766H95.747V269.611c0-17.61,14.275-31.885,31.885-31.885l0,0v26.366V299.261z"
              />
            </g>
            <path
              style="fill: #2ba5f7"
              d="M364.126,299.261v78.048h-23.731v-0.011h-33.402v0.011H205.019v-0.011h-33.413v0.011h-23.731v-78.048
	v-35.17v-26.366h43.951h128.351h43.951v26.366L364.126,299.261L364.126,299.261z"
            />
            <rect
              x="147.874"
              y="237.725"
              style="fill: #2197d8"
              width="38.043"
              height="139.572"
            />
            <g>
              <path
                style="fill: #4d4d4d"
                d="M241.698,138.467c0-21.196-17.245-38.441-38.441-38.441c-21.198,0-38.442,17.245-38.442,38.441
		s17.245,38.441,38.442,38.441C224.453,176.908,241.698,159.663,241.698,138.467z M181.92,138.467
		c0-11.764,9.572-21.336,21.337-21.336s21.336,9.571,21.336,21.336c0,11.764-9.571,21.336-21.336,21.336
		S181.92,150.231,181.92,138.467z"
              />
              <path
                style="fill: #4d4d4d"
                d="M308.748,176.908c21.196,0,38.441-17.245,38.441-38.441s-17.245-38.441-38.441-38.441
		c-21.198,0-38.442,17.245-38.442,38.441S287.55,176.908,308.748,176.908z M308.748,117.13c11.764,0,21.335,9.571,21.335,21.336
		s-9.571,21.336-21.335,21.336s-21.337-9.571-21.337-21.336S296.983,117.13,308.748,117.13z"
              />
              <circle
                style="fill: #4d4d4d"
                cx="316.275"
                cy="271.127"
                r="8.553"
              />
              <circle
                style="fill: #4d4d4d"
                cx="195.725"
                cy="271.127"
                r="8.553"
              />
            </g>
            <circle style="fill: #f7b239" cx="256.006" cy="14.816" r="14.816" />
            <path
              style="fill: #e09b2d"
              d="M303.469,330.906h-94.937c0-11.073,3.798-21.268,10.149-29.342
	c8.701-11.039,22.181-18.132,37.325-18.132C282.223,283.432,303.469,304.689,303.469,330.906z"
            />
            <path
              style="fill: #f7b239"
              d="M294.813,330.906h-86.282c0-11.073,3.798-21.268,10.149-29.342
	c8.074-6.352,18.258-10.149,29.342-10.149C271.515,291.415,291.027,308.486,294.813,330.906z"
            />
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <span class="bot-text">{{ message.message }} </span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "ChatBody",
  props: {},
  data() {
    return {
      Messages: [],
      loading: true,
    };
  },
  computed: {
    ...mapGetters(["getMessages"]),
  },
  methods: {
    ...mapMutations(["SET_MESSAGE"]),
    async onEnd({ lastSentence }) {
      this.loading = false;
      this.$forceUpdate();
      const response = await axios.post("http://127.0.0.1:8000/ask/quesions/", {
        text: lastSentence,
      });
      const message = {
        type: "human",
        message: lastSentence,
      };
      this.SET_MESSAGE(message);
      const bot_message = {
        type: "bot",
        message: response.data,
      };
      this.SET_MESSAGE(bot_message);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chat-body {
  height: 75%;
  width: 450px;
  display: flex;
  flex-flow: column-reverse;
  overflow: auto;
  padding: 10px;
}
.human-text {
  min-height: 30px;
  max-width: 250px;
  padding: 5px;
  align-self: flex-end;
  background-color: #ffffff;
  color: #828282;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 15px;
  margin-bottom: 10px;
}
.bot-text {
  min-height: 30px;
  max-width: 250px;
  padding: 5px;
  align-self: flex-start;
  background-color: #2f80ed;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 15px 0px;
  margin-bottom: 10px;
}
</style>
