<template>
  <div class="chat-bot" :style="{height:height,width:width}">
      <Header />
      <ChatBody />
      <TextBox :toggleRecord="toggleRecord" />
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import ChatBody from '@/components/ChatBody.vue';
import TextBox from '@/components/TextBox.vue';

export default {
  name: 'ChatBot',
  components: {
    Header,
    ChatBody,
    TextBox,
  },
  props: {
    height: {
      type: String,
      default: '500px',
    },
    width: {
      type: String,
      default: '500px',
    },
  },
  data() {
    return {
      record: false
    };
  },
  methods: {
    toggleRecord(){
      this.record= !this.record
    }


  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chat-bot{
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

</style>
