<template>
  <div class="header">
      <span class="title">Linarc Help</span>
      <span class="date">{{getTime}}</span>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: {
  },
  data() {
    return {
    };
  },
  computed: {
    getTime() {
      const date = new Date();
      const hour = date.getHours() % 12 === 0 ? 12 : date.getHours() % 12;
      const minute = date.getMinutes();
      const meridian = date.getHours() > 12 ? 'PM' : 'AM';
      return `${hour}:${minute} ${meridian}`;
    },

  },
  methods: {

  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header{
    height: 15%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.title{
    color: #4F4F4F;
    line-height: 33px;
    font-size: 28px;
    font-weight: 600;
}
.date{
    color: #828282;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}
</style>
