<template>
  <div class="hello">
    <button @click="toggleMike">Voice</button>
    <div>
      <vue-speech @onTranscriptionEnd="onEnd"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      showMike: false,
    };
  },
  methods: {
    onEnd({ lastSentence, transcription }) {
      console.log(lastSentence, transcription);
    },
    toggleMike() {
      this.showMike = !this.showMike;
    },

  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
