<template>
  <div class="text-box">
    <div class="text-container">
      <div @click="toggleMike" v-show="false">
        <div v-if="mikeoff">
          <img src="../assets/MicOn.svg" alt="" />
        </div>
        <div v-else>
          <img src="../assets/MicOff.svg" alt="" />
        </div>
      </div>
      <form action="" @submit="onSubmit">
        <input
          v-model="inputText"
          placeholder="Im The God of Thunder what's your wish ......."
        />
      </form>

      <div @click="onSubmit">
        <img src="../assets/Send.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import axios from "axios";
export default {
  name: "TextBox",
  props: {
    toggleRecord: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      mikeoff: true,
      inputText: "",
    };
  },
  computed: {},
  methods: {
    ...mapMutations(["SET_MESSAGE"]),
    async onSubmit(e) {
      e.preventDefault();
      if (this.inputText) {
        const message = {
          type: "human",
          message: this.inputText,
        };
        this.SET_MESSAGE(message);
        const response = await axios.post(
          "http://127.0.0.1:8000/ask/quesions/",
          {
            text: this.inputText,
          }
        );
        const bot_message = {
          type: "bot",
          message: response.data,
        };
        this.SET_MESSAGE(bot_message);
        this.inputText = "";
      }
    },
    toggleMike() {
      this.mikeoff = !this.mikeoff;
      this.toggleRecord();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.text-box {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 300px;
  height: 15px;
  border: none;
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}
input:focus {
  outline: none;
  color: #4f4f4f;
  font-size: 16px;
}
.text-container {
  width: 450px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
</style>
