<template>
  <div class="chat-container">
    <div class="chat-form">
      <div class="question">
        <input type="text" v-model="question" placeholder="Ask a question..." />
        <button @click="askQuestion">ASK</button>
      </div>
      <div class="answer" v-if="answer">
        <p>{{ answer }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      question: "",
      answer: "",
    };
  },
  methods: {
    async askQuestion() {
      const response = await axios.post("http://127.0.0.1:5000/ask", {
        text: this.question,
      });
      this.answer = response.data;
      this.question = "";
    },
  },
};
</script>

<style scoped>
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
</style>
