<template>
  <div id="app">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
      "
    >
      <ChatBot height="600px" width="600px" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ChatBot from "@/components/ChatBot.vue";

export default {
  name: "Home",
  components: {
    ChatBot,
  },
};
</script>

<style>
#app {
  background-color: white;
  height: 100vh;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
